  
{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        {% include "includes/author_post.html" %}
    </div>
​
    <div class="col-md-9">
      <!-- Пост -->
      {% include "includes/post_item.html" with post=post %}
      {% include "includes/comments.html" %}
    </div>
  </div>
</main>
{% endblock %}